{% extends 'base.twig' %}

{% block Content %}

<a href="javascript:;" onclick="window.history.back()">Back</a>
<div>
{% for item in data %}
    
    <div style="width: 15vh; height: 15vh; float:left;">
       <a  href="{{ url }}/{{item}}"><p style="width: 10vh;"> {{ item }}</p>
    <img src="{{APIbaseURL}}/thumbnail/{{db}}/{{item}}?thumbnail" style="width: 12vh; height: 12vh;">
</a>
    </div>

{% endfor %}

</div>

{% endblock %}
