{% extends 'base.twig' %}

{% block Content %}

<a href="javascript:;" onclick="window.history.back()">Back</a>
<div>
{% for item in data %}
    
    <div style="width: 30vh; height: 30vh; float:left;">
       <a  href="{{ url }}/{{item}}"><p style="width: 30vh;"> {{ item }}</p>
    <img src="{{baseURL}}/{{db}}/{{item}}?thumbnail" style="width: 25vh; height: 25vh;">
</a>
</div>

{% endfor %}

</div>

{% endblock %}
