{% extends 'base.twig' %}

{% block Content %}

{% macro setting_Toggle(id, name, isTrue) %}

<label class="checkbox-inline">
<input id="{{id}}" type="checkbox"  {% if isTrue == "yes" %} checked {% endif %} data-toggle="toggle"> {{name}}
</label>

<script>

    $('#{{id}}').change(function() {
        Send('{{id}}', $(this).prop('checked') ? 'yes' : 'no');
    });

</script>


{% endmacro %}

{% import _self as me %}

{{ me.setting_Toggle('use-thumb', "Use Thumbnail's", use_thumbnail) }}

<script>

function Send(id, data)
{

$.ajax({
  method: "POST",
  url: "settings",
  data: { id: id, value: data }
});

}

</script>

{% endblock %}
